{var $robots = noindex}

{block #content}


<div class="login-form">
	<h1>Prihlásenie</h1>
	{form signInForm}

		{label username /} {input username}
		{label password /} {input password}
		{input login}

	{/form}
<div>