body {
	font: 12pt/1.4 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: black;
	width: 100%;
}

a img { border: none; }
a {
	cursor: pointer;
}

#ajax-spinner {
	display: none;
}


/*
 Flash messages 
 --------------------------------------------------- */
div.flash {
	padding: .8em;
	width: 50%;
	margin: 0 25% 1em 25%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
}

div.flash.success {
	background: #dcffb9;
	color: #693;
	box-shadow: 0 0 5px #693; 
	-moz-box-shadow: 0 0 5px #693;
	-webkit-box-shadow: 0 0 5px #693;
}

div.flash.info {
	background: #FFF6BF;
	color: #514721;
	box-shadow: 0 0 5px #514721;
	-moz-box-shadow: 0 0 5px #514721;
	-webkit-box-shadow: 0 0 5px #514721;
}

div.flash.error {
	background: #ffcccc;
	color: #c33;
	box-shadow: 0 0 5px #c33;
	-moz-box-shadow: 0 0 5px #c33;
	-webkit-box-shadow: 0 0 5px #c33;
}

/*
 Forms styling 
 --------------------------------------------------- */
input[class=checkbox] + label {
	position: static;
	margin-top: -20px;
	margin-left: 15px;
}

label {
	padding-right: 10px;
	margin-top: -5px;
}

/*
 Contacts 
 --------------------------------------------------- */
.contact-list .contact {
	cursor: pointer;
}

.contact-list a {
	padding-right: 10px;
}


/*
 Sign in form 
 --------------------------------------------------- */
.login-form {
	border-radius: 5px;
	margin: 0 0 0 25px;
	padding: 25px 0 75px 25px;
	width: 940px;

	-webkit-box-shadow: 0 0 5px #888;
	   -moz-box-shadow: 0 0 5px #888;
			box-shadow: 0 0 5px #888;
}
.login-form input { float: left; width: 290px; margin-right: 5px; }
.login-form input.btn { margin-top: 1px; }


/*
 Display invoice site
 --------------------------------------------------- */
 .payment-form {
 	width: 100%;
 }
 
 .payment-form input {
 	width: 200px;
 	float: left;
 	margin-right: 10px;
 }

.payment-form label {
	font-weight: 100;
	margin-top: 5px;
	float: left;
} 
 
 .payment-form-border {
 	margin-top: 10px;
 	height: 1px;
 }

.invoice-payment-info {
	margin: 75px 0 50px 0;
}