@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);

/*
 Main 
 --------------------------------------------------- */
body {

}

a img { border: none; }
a {
	cursor: pointer;
}

#ajax-spinner {
	display: none;
}

.header {
	margin-bottom: 25px;
}


/*
 Forms styling 
 --------------------------------------------------- */
input[class=checkbox] + label {
	position: static;
	margin-top: -20px;
	margin-left: 15px;
}

label {
	padding-right: 10px;
	margin-top: -5px;
}


/*
 Sign in site
 --------------------------------------------------- */

.introduction {
	background-color: #000;
	color: white;
	padding: 25px;
	border-radius: 5px;
	margin-bottom: 15px;
	-webkit-box-shadow:  0px 0px 1px 2px rgba(0, 0, 0, 0.2);        
        	box-shadow:  0px 0px 1px 2px rgba(0, 0, 0, 0.2);
	opacity: 0.9;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #404040 0%, #000000 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #404040 0%, #000000 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #404040 0%, #000000 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #404040), color-stop(1, #000000));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #404040 0%, #000000 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #404040 0%, #000000 100%);
}

.introduction h1 {
	font-family: 'Happy Monkey', cursive;
	text-align: center;
}

.introduction p {
	text-align: center;
	padding: 15px 0;
}

.sign-in-form {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 25px;
	border-radius: 5px;
	-webkit-box-shadow:  0px 0px 1px 2px rgba(0, 0, 0, 0.2);        
        	box-shadow:  0px 0px 1px 2px rgba(0, 0, 0, 0.2);
	opacity: 0.8;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FAFAFA 0%, #D6D6D6 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FAFAFA 0%, #D6D6D6 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FAFAFA 0%, #D6D6D6 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(1, #D6D6D6));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FAFAFA 0%, #D6D6D6 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FAFAFA 0%, #D6D6D6 100%);
}

/*
 Contacts 
 --------------------------------------------------- */
.contact-list .contact {
	cursor: pointer;
}

.contact-list a {
	padding-right: 10px;
}


/*
 Sidebar
 --------------------------------------------------- */
.sidebar {
	
}


/*
 Footer 
 --------------------------------------------------- */
 footer {
 	padding: 25px 50px 15px 50px;
 	color: #333;
 	/* background-color: #bebebe; */
 	border-radius: 5px;
 }